# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
**/bin

# Ignore OSX files
.DS_Store

# Ignore Eclipse files (generate using Gradle if needed)
.settings/
.project
.classpath

# Ignore VS Code files
.vscode
