<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="czm_mono_mkii.Application">
         </run>
      </application>
   </extension>
   <extension
id = "product"
         point="org.eclipse.core.runtime.products">
      <product
            application="CZM_Mono.application"
            name="DynamoHIA">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="DynamoHIA">
         </property>
      </product>
   </extension>
</plugin>
