<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="czm_mono_mkii.Application">
         </run>
      </application>
   </extension>
   <extension
id = "product"
         point="org.eclipse.core.runtime.products">
      <product
            application="CZM_Mono.application"
            name="Dynamo-HIA">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Dynamo-HIA">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_window_16.gif">
         </property>
         <property
               name="aboutText"
               value="DYNAMO-HIA  is a program for calculating the health impact of changing determinant of health. It has been developed by RIVM in cooperation with ErasmusMC, and was partly funded by DG-SANCO">
         </property>
      </product>
   </extension>
</plugin>


